* {
    box-sizing: border-box;
}
  
html {
    margin: 0;
}
  
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    background-color: #F6F6EC;
}
  
.content{
    margin: 0 auto;
    max-width: 80%;
}
  
.title{
    font-size: 3em;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.content__item__input{
    display: none;
}

.content__title{
    display: flex;
    justify-content: space-between;
    width: 100%;  
    color: #0059D9;  
    border-top: 0.05rem solid black;
}

.content__item__title img{
    display: block;
    margin: 1rem auto;
    width: 0%;
    transition: 0.5s;
  }
  
input:checked + .content__item__title .content__title{
    color: black;
}
  
input:checked + .content__item__title img {
    width: 80%;
}

input:checked + .content__item__title .content__title span{
    transform: rotate(45deg);
}

@media (max-width: 960px) {
    .title {
        font-size: 2.2em;
    }
    .content__title {
        font-size: 1.4em;
    }
}
  
@media (max-width: 450px) {
    .title {
      font-size: 2.3em;
    }
    
    .content__title {
      font-size: 2em;
    }
}
  
@media (hover: hover) {
    .content__item:hover img{
      transition: 0.5s;
      width: 80%;
    }

    .content__item:hover span{
      transition: 0.5s;
      transform: rotate(45deg);
    }

    .content__container:hover,
    .content__item:hover,
    label:hover
    {
      cursor: pointer;
    }
}